a {
  font-family:Impact;
  color:white;
  margin-left:15px;
  text-decoration:none;
}
span {
  font-family:Impact;
  color:white;
  margin-left:15px;
}
.menu {
  width:900px;
 -height:50px;
  background-color:#a64dff;
  padding-left:50px;
  text-align:center;
}
/* если нужно для целей вести трафик на 1 раздел, можно применять стиль  */
-.travels {
  color:grey;
  background-color:lime;
  padding:5px;
  text-decoration:underline;
}
.menu a:hover {
  background: #eeeeee;
  color:grey;
  padding:5px;
  text-decoration:underline;
}
.float {
  margin-left:150px;
  font-family:Impact;
  color:white;
  possition:absolute;
}
